extends main-lk-page

block content
    h1(class='text-4xl font-semibold') Информация для заёмщика
    div(class='bg-white rounded-20px mt-6 py-6 px-6 pb-8')
        div(class="grid grid-cols-2 gap-x-8 max-w-5xl")
            div
                h3(class='text-lg font-semibold') Экспресс
                div(class="grid gap-y-4 mt-4")
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Общие условия предоставления займов от 05.07.2021 (редакции)
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Общие условия договора займа от 26.07.2021 (редакции)
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Индивидуальные условия договора от 01.01.2020 (редакции)
            div
                h3(class='text-lg font-semibold') Эконом
                div(class="grid gap-y-4 mt-4")
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Правила предоставления займов от 05.07.2021 (редакции)
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Общие условия договора займа от 26.07.2021 (редакции)
                    a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                        img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                        div(class="text-sm text-black") Индивидуальные условия договора от 01.01.2020 (редакции)
        div(class="grid gap-y-4 mt-10 pt-6 border-t border-BD")
            a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Регламент рассмотрения обращений
            a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Соглашение об использовании АСП(ред. от 25.03.2021)
        div(class="mt-10")
            p Архив документов
            p Памятка по безопасности
            p Общество с ограниченной ответственностью Микрокредитная компания "Главная Финансовая Компания" включено в реестр операторов, осуществляющих обработку персональных данных, на основании приказа №54 от 03.03.2017. Регистрационный номер 23-17-006682.
            p Срок принятия окончательного решения о выдаче заёма клиенту может составлять до 72 часов

