extends main-lk-page

block content
    h1(class='text-4xl font-semibold') Нормативные документы Общества с ограниченной ответственностью Микрокредитная компания "Главная Финансовая Компания"
    div(class='bg-white rounded-20px mt-6 py-6 px-6 pb-8')
        div(class="grid gap-y-4 mt-8 max-w-5xl")
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Устав
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") ИНН
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") ОГРН
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Свидетельство о внесении сведений о юридическом лице в государственный реестр микрофинансовых организаций
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Свидетельство СРО
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Базовый стандарт МФО
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Федеральный закон "О заците прав и законных итересов физических лиц при осущиствлении деятельности по возврату просроченной задолженности и о внесении изменений в Федеральный закон О микрофинансовой деятельности и микрофинансовых организациях" от 03,07,2016 № 230-ФЗ
            a(href="#" class="flex items-start hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Согласие к размещению Эквифакс
